<%= form_for(nudge) do |f| %>
  <% if nudge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nudge.errors.count, "error") %> prohibited this nudge from being saved:</h2>

      <ul>
      <% nudge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nudge_token %>
    <%= f.text_field :nudge_token %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :response %>
    <%= f.number_field :response %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
