<p id="notice"><%= notice %></p>

<h1>Nudges</h1>

<table>
  <thead>
    <tr>
      <th>Nudge token</th>
      <th>User</th>
      <th>Response</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nudges.each do |nudge| %>
      <tr>
        <td><%= nudge.nudge_token %></td>
        <td><%= nudge.user %></td>
        <td><%= nudge.response %></td>
        <td><%= link_to 'Show', nudge %></td>
        <td><%= link_to 'Edit', edit_nudge_path(nudge) %></td>
        <td><%= link_to 'Destroy', nudge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nudge', new_nudge_path %>
