<p id="notice"><%= notice %></p>

<p>
  <strong>Nudge token:</strong>
  <%= @nudge.nudge_token %>
</p>

<p>
  <strong>User:</strong>
  <%= @nudge.user %>
</p>

<p>
  <strong>Response:</strong>
  <%= @nudge.response %>
</p>

<%= link_to 'Edit', edit_nudge_path(@nudge) %> |
<%= link_to 'Back', nudges_path %>
