<div class="card" id="div_card_group_<%=group.id%>_pet_<%=pet.id%>">
  <div class="card-header" role="tab" id="heading_group_<%=group.id%>_pet_<%=pet.id%>">
    <h5 class="mb-0">
      <% unless pet.image.thumb.url.nil? %>
        <%= image_tag pet.image.thumb.url, class: "rounded-circle pet-thumb-image-modal", alt: 'Card image', data: {toggle: 'modal', target: '#pet_image_modal', pet_id: pet.id} %><!-- Thumb is alraedy 50x50 -->
      <% else %>
        <%= image_tag 'pet_placeholder', class: "rounded-circle pet-thumb-image-modal", width: 50, height: 50, alt: 'Card image', data: {toggle: 'modal', target: '#pet_image_modal', pet_id: pet.id} %>
      <% end %>
      <a id="qwer<%=group.id%>" class="collapsed" data-toggle="collapse" data-parent="#pet_accordion_group_<%=group.id%>" href="#collapse_group_<%=group.id%>_pet_<%=pet.id%>" aria-expanded="false" aria-controls="collapse_group_<%=group.id%>_pet_<%=pet.id%>">
      <%=pet.name%>
      </a>
    </h5>
  </div>
  
  <div id="collapse_group_<%=group.id%>_pet_<%=pet.id%>" class="collapse<%= j == 0 ? ' show' : '' %>" role="tabpanel" aria-labelledby="heading_group_<%=group.id%>_pet_<%=pet.id%>">
    <div class="card-block">
      <%= render 'pets/show_card', group: group, pet: pet %>
      <%= render 'pets/form_card', group: group, pet: pet, weight_options: weight_options, hide: true %>
    </div>
  </div>
</div>