<div class="card" style="width: 20rem;">
  <div class="card-block">
    <%= form_for(pet) do |f| %>
    <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :group_id %>
      <%= f.text_field :group_id, class: "form-control" %>
    </div>

    <div class="form-group form-group-lg">
      <%= f.label :breed_id %>
      <%= f.collection_select :breed_id, (pet.breed ? [pet.breed] : []), :id, :name, { include_blank: true }, { class: "form-control breed-selector" } %>
    </div>
    
    <div class="form-group form-group-lg">
      <%= f.label :color_ids, 'Colors' %>
      <%= f.collection_select :color_ids, pet.colors, :id, :name, {include_hidden: false}, {class: "form-control multi colors-selector", multiple: true} %>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
