<div class="pet-form-fields" style="<%= hide ? "display: none;" : '' %>" <%= pet.new_record? ? "id=new_pet_card_group_#{group.id}" : "id=pet_#{pet.id}_card_form_group_#{group.id}" %>>
  <%= form_for pet, remote: true do |f| %>
      <% if pet.errors.any? %>
        <%= render partial: "shared/flash_messages", flash: flash %>
      <% end %>
    <table class="table table-sm">
      <tbody>
          <tr>
            <td class="label-td">
              <div class="form-group <%= has_error?( pet, :name ) ? "has-danger" : "" %>">
                <strong class="col-form-label text-muted">Name</strong>
              </div>
            </td>
            <td class="field-td">
              <div class="form-group <%= has_error?( pet, :name ) ? "has-danger" : "" %>">
                <%= f.text_field :name, class: "form-control form-control-danger" %>
                <%= form_feedback(pet, :name).html_safe %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="label-td">
              <div class="form-group <%= has_error?( pet, :chip_number ) ? "has-danger" : "" %>">
                <strong class="col-form-label text-muted">Chip #</strong>
              </div>
            </td>
            <td class="field-td">
              <div class="form-group <%= has_error?( pet, :chip_number ) ? "has-danger" : "" %>">
                <%= f.text_field :chip_number, class: "form-control" %>
                <%= form_feedback(pet, :chip_number).html_safe %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="label-td">
              <div class="form-group <%= has_error?( pet, :breed ) ? "has-danger" : "" %>">
                <strong class="col-form-label text-muted">Breed</strong>
              </div>
            </td>
            <td class="field-td">
              <div class="form-group <%= has_error?( pet, :breed ) ? "has-danger" : "" %>">
                <%= f.collection_select :breed_id, (pet.breed ? [pet.breed] : []), :id, :name, { include_blank: true }, { class: "form-control breed-selector", style: "width: 100%;" } %>
                <%= form_feedback(pet, :breed).html_safe %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="label-td">
              <div class="form-group <%= has_error?( pet, :weight ) ? "has-danger" : "" %>">
                <strong class="col-form-label text-muted">Weight</strong>
              </div>
            </td>
            <td class="field-td">
              <div class="form-group <%= has_error?( pet, :weight ) ? "has-danger" : "" %>">
                <%= f.collection_select :weight_id, weight_range_dropdown(weight_options), :last, :first, { include_blank: true, selected: pet.weight_id }, { class: "form-control weight-selector", style: "width: 100%;" } %>
                <%= form_feedback(pet, :weight).html_safe %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="label-td">
              <div class="form-group <%= has_error?( pet, :colors ) ? "has-danger" : "" %>">
                <strong class="col-form-label text-muted">Colors</strong>
              </div>
            </td>
            <td class="field-td">
              <div class="form-group <%= has_error?( pet, :colors ) ? "has-danger" : "" %>">
                <%= f.collection_select :color_ids, pet.colors, :id, :name, {include_hidden: false, include_blank: false}, {class: "form-control multi colors-selector select2-multiple has-danger", style: "width: 100%;", multiple: true} %>
                <%= form_feedback(pet, :colors).html_safe %>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
    <%= f.hidden_field :group_id, value: group.id %>
    <%= f.submit "Save", data: { disable_with: "Saving..." }, :class => 'btn btn-info btn-sm' %>
    <% unless pet.new_record? %>
      <button class="btn btn-outline-primary btn-sm cancel-btn">Cancel</button>
      <!-- <button class="btn btn-danger btn-sm float-right" data-toggle="confirmation">Remove Pet</button> -->
      <%= link_to 'Remove Pet', pet, remote: true, method: :delete, data: { confirm: 'Remove pet?' }, class: "btn btn-danger btn-sm float-right" %>
    <% end %>
  <% end %>
</div>