<p id="notice"><%= notice %></p>

<h1>Pets</h1>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Group</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @pets.each do |pet| %>
        <tr>
          <td><%= pet.id %></td>
          <td><%= pet.name %></td>
          <td><%= link_to pet.group.name, pet.group %></td>
          <td><%= link_to 'Show', pet, class: "btn btn-outline-info" %></td>
          <td><%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-outline-info" %></td>
          <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
<br>

<%= link_to 'New Pet', new_pet_path, class: "btn btn-primary" %>
