<div class = 'container'>
    <%= form_for(found_dog, url: path, remote: true) do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        
        <!-- Breed, weight, color need to be added -->
        <!-- These are hard-coded values. We have to change this soon -->

        <div class = 'form-group'>
            Owner: <h1><%= @user.first_name %>  <%= @user.last_name %></h1>
        </div>

        <div class = 'form-group'>
            <%= f.label :description %>
            <%= f.text_area :description, size: '5x5', class: 'form-control' %>
        </div>
        
        <div class = 'form-group'>
            <%= f.label :breed_id %>
            <%= f.collection_select :breed_id, (found_dog.breed ? [found_dog.breed] : []), :id, :name, { include_blank: true }, { class: "form-control breed-selector", style: "width: 100%;" } %>
            <%= form_feedback(found_dog, :breed).html_safe %>
        </div>

        <div class = 'form-group'>
            <%= f.label :weight_id %>

            <%= f.collection_select :weight_id, weight_range_dropdown(weight_options), :last, :first, { include_blank: true, selected: found_dog.weight_id }, { class: "form-control weight-selector", style: "width: 100%;", required: :true } %>
            <%= form_feedback(found_dog, :weight).html_safe %>

        </div>

        <div class = 'form-group'>
            <%= f.label :address %>
            <%= f.text_field :address, size: '1x1', class: 'form-control', required: :true %>
        </div>

        <%= f.hidden_field :latitude, value: "" %>
        <%= f.hidden_field :longitude, value: "" %>        

        <div class = 'form-group'>
            <%= f.submit button_name, class: 'btn btn-success btn-block' %>
        </div>

    <% end %>
</div>