<!--
    <div id = 'show_found'>
    </div>
-->

<div class = 'card'>
    <h4 class = 'card-header'>Found Dog</h4>
    <ul class = 'list-group list-group-flush'>
        <li class = 'list-group-item'>
            <% unless @found_dog.user.image.thumb.url.nil? %>
                <%= image_tag @found_dog.user.image.thumb.url, class: "rounded-circle thumb-image-modal", alt: 'Card image', data: {toggle: 'modal', target: '#image_modal', id: @found_dog.user.id, controller: 'users'} %>
            <% else %>
                <%= image_tag 'user_placeholder', class: "rounded-circle thumb-image-modal", width: 50, height: 50, alt: 'Card image', data: {toggle: 'modal', target: '#image_modal', id: @found_dog.user.id, controller: 'users'} %>
            <% end %>
            <%= @found_dog.user.first_name %> <%= @found_dog.user.last_name %>
        </li>
        <li class = 'list-group-item'>
            <% unless @found_dog.image.thumb.url.nil? %>
                <%= image_tag @found_dog.image.thumb.url, class: "rounded-circle thumb-image-modal", alt: 'Card image', data: {toggle: 'modal', target: '#image_modal', id: @found_dog.id, controller: 'found_dogs'} %>
            <% else %>
                <%= image_tag 'pet_placeholder', class: "rounded-circle thumb-image-modal", width: 50, height: 50, alt: 'Card image', data: {toggle: 'modal', target: '#image_modal', id: @found_dog.id, controller: 'found_dogs'} %>
            <% end %>
        </li>

        <!-- Before the below description, you have to put the pet image. So the functionality of uploading images needs to be there -->
        
        <% if !@found_dog.breed.nil? %>
            <li class = 'list-group-item'>
                <strong>Breed:</strong><%= @found_dog.breed.name %><br>
            </li>
        <% end %>

        <% if !@found_dog.weight.nil? %>
            <li class = 'list-group-item'>
                <strong>Weight: </strong><%= @found_dog.weight.display if @found_dog.weight %>
            </li>
        <% end %>

        
        <% if !@found_dog.colors.empty? %>
            <li class = 'list-group-item'>
                <strong>Colors:</strong>
                <% @found_dog.colors.each do |c| %>
                <span class="badge badge-default badge-<%=c.name%>"><%=c.name%></span>
                <% end %>
            </li>
        <% end %>

        
        <% if !@found_dog.description.empty? %>
            <li class = 'list-group-item'>
                <div class = 'card-body'>
                    <%= @found_dog.description %><br>
                </div>
            </li>
        <% end %>

        <li class = 'list-group-item'>
            The dog was found at: <br>
            <%= @found_dog.address %>
        </li>
        <li class = 'list-group-item'>
            if you think this dog might belong to someone who has posted a lost dog, then contact the person using the lost dog/found dog page.
        </li>
    </ul>

    <div class = 'card-footer'>
        <% if @found_dog.user.id == current_user.id %>
            <div class = 'row' >
                <div class = 'col-md-4'>
                    <%= link_to 'Edit event', edit_found_dog_path(@found_dog.id), class: 'btn btn-primary',type: 'button', data: {:remote => true, 'data-toggle' => 'modal', 'data-target'=>'#eventModal'} %>
                </div>
                
                <div class = 'col-md-4'>
                    <%= link_to 'Delete event', @found_dog, method: :delete, class: 'btn btn-primary',type: 'button', data: { remote: true, confirm: 'Are you sure? '} %>
                </div>

                <div class = 'col-md-4'>
                    <%= button_tag 'Close Window', 'aria-label': 'Close', class: 'btn btn-primary', type: 'button', onclick: 'close_event_section()' %>
                </div>

            </div>
        <% else %>
            <div class = 'row'>
                <div class = 'col-md-4 offset-md-3'>
                    <button type="button" class="btn btn-primary" aria-label="Close" onclick = "close_event_section()">
                        Close Window
                    </button>
                </div>
            </div>
        <% end %>
    </div>



</div>