<div id = 'show_found'>
    Name:  <%= @found_dog.user.first_name %> <%= @found_dog.user.last_name %><br>
    Description: <%= @found_dog.description %><br>

    <% if @found_dog.user.id == current_user.id %>
        <%= link_to 'Edit event', edit_found_dog_path(@found_dog.id), class: 'btn btn-primary',data: {:remote => true, 'data-toggle' => 'modal', 'data-target'=>'#eventModal'} %>

        <%= link_to 'Delete event', @found_dog, method: :delete, class: 'btn btn-primary',data: { confirm: 'Are you sure? '} %>
    <% end %>

</div>