<div class="tab-pane fade <%= 'show active' if i==0 %>" id="group_<%=group.id%>" role="tabpanel" style="margin: 5px;">
  <div class="row">
    <div class="col-lg-6"><!-- Pets Column -->
      <div class="card" style="background-color: #e3f2fd">
        <div class="card-block">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="card-title">Chat Room</h2>
            </div>
          </div>
        </div>
      </div>
      
      <!-- The Chat room is below -->
      <div>
        
      </div> <!-- End of the chat room -->
    
    </div><!-- col-lg-6 -->
  
    <div class="col-lg-6"><!-- User column -->
      <div class="card" style="background-color: #e3f2fd">
        <div class="card-block">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="card-title">People</h2>
            </div>
            <div class="col-lg-6">
              <i class="fa fa-users fa-3x pull-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div id="user_accordion_group_<%=group.id%>" role="tablist" aria-multiselectable="true">
        <% group.users.each_with_index do |user,j| %>
        
            <div class="card">
                <div class="card-header" role="tab" id="heading_group_<%=group.id%>_user_<%=user.id%>">
                    <h5 class="mb-0">
                    <% unless user.image.thumb.url.nil? %>
                        <%= image_tag user.image.thumb.url, class: "rounded-circle", width: 50, height: 50 %>
                    <% else %>
                        <%= image_tag 'user_placeholder', class: "rounded-circle", width: 50, height: 50 %>
                    <% end %>
                    <a class="collapsed" data-toggle="collapse" data-parent="#user_accordion_group_<%=group.id%>" href="#collapse_group_<%=group.id%>_user_<%=user.id%>" aria-expanded="false" aria-controls="collapse_group_<%=group.id%>_user_<%=user.id%>">
                        <%=user.first_name%>
                    </a>
                    </h5> 
                </div>
            </div>

        <% end %>
      </div><!-- accordian -->
    </div><!-- col-lg-6 user column-->
  
  </div><!-- row -->
</div><!-- tab pane -->