var new_group_pane = $('#group_new');
// replace new group form fields
new_group_pane.html('<%= j render(:partial => 'groups/form_card', :locals => { group: Group.new }) %>');

// create button link
$('#new_group_btn').parent().before('<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#group_<%=@group.id%>" role="tab"><%= @group.name %></a></li>')

// Add tab-pane content
new_group_pane.before('<%= j render(:partial => 'groups/tab_pane', :locals => {group: @group, i: current_user.groups.size - 1, weight_options: Weight.all}) %>');

// toggle new tab
$('a[href="#group_<%=@group.id%>"]').tab('show')

bindSelect2Elements(); // application.js
