<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<% weight_options = Weight.all %>
<div class="card">
  <div class="card-block">
    
    <!-- Create group tab buttons -->
    <ul class="nav nav-tabs" role="tablist">
      <% @groups.each_with_index do |group,i| %>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if i==0 %>" data-toggle="tab" href="#group_<%=group.id%>" role="tab"><%= group.name %></a>
        </li>
      <% end %>
      <li class="nav-item">
        <button type="button" class="nav-link new-group-btn btn btn-outline-primary" id="new_group_btn" data-toggle="tab" role="tab" href="#group_new">Create New Group</button>
      </li>
      <!-- <li class="nav-item">
        <button type="button" class="btn btn-outline-primary nav-link new-group-btn" id="new_group_btn" data-toggle="tab" role="tab" href="#group_new">New Group</button>
      </li> -->
    </ul>
    <div class="tab-content" style="background-color: #fafbfc; border-style: solid; border-width: 1px; border-radius: 5px; border-color: #ddd;">
      <% @groups.each_with_index do |group,i| %>
        <%= render 'groups/tab_pane', group: group, i: i, weight_options: weight_options %>
      <% end %>
      <%= render 'groups/tab_pane_new', show: @groups.empty? %>
    </div><!-- tab content -->
  </div><!-- card block -->
</div><!-- card -->
