<div class = 'container'>
    <div class = 'row'>
        <%= form_for(:user, url: profile_edit_path, method: 'get') do |f| %>
            <div class = 'form-group row'>
                <%= label_tag(:first_name, "First Name:  ") %>
                <% if !@user.nil? %>
                    <%= label_tag(:first_name, @user.first_name) %>
                <% else %>
                    <%= label_tag(:first_name, "") %>
                <% end %>
            </div>
            <div class = 'form-group row'>
                <%= label_tag(:last_name, "Last Name: ") %>
                <% if !@user.nil? %>
                    <%= label_tag(:last_name, @user.last_name) %>
                <% else %>
                    <%= label_tag(:last_name, "") %>
                <% end %>
            </div>
            <div class = 'form-group row'>
                <%= label_tag(:email, 'Email Address:') %>
                <%= label_tag(:email, @user.email) %>
            </div>
            <div class = 'form-group row'>
                <%= label_tag(:password, 'Password') %>
                <%= f.password_field :password, :class => "form-control", autocomplete:"off" %>
            </div>
            <div class = 'form-group row'>
                <%= label_tag(:password_confirmation, 'Confirm Password') %>
                <%= f.password_field :password_confirmation, :class => "form-control" %>
            </div>

            <div class = 'form-group row'>
                <%= link_to 'Edit Profile', profile_edit_path, :class => 'btn btn-success btn-block' %>
            </div>

        <% end %>
    </div>
</div>
