<div class = 'container'>
    <div class = 'row'>
        <%= form_for(:user, url: profile_update_path, method: 'post', html: {multipart: true}) do |f| %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <div class = 'form-group row'>
              <% unless @user.image.url.nil? %>
                <%= image_tag @user.image.url, class: "rounded-circle", width: 100, height: 100 %>
              <% else %>
                <%= image_tag 'user_placeholder', class: "rounded-circle", width: 100, height: 100 %>
              <% end %>
              <%= f.file_field :image, class: "filestyle", data: {input: false, badge: true, btnClass: "btn-outline-primary", text: "Choose Profile Picture"}, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
              <%= f.hidden_field :image_cache %><!-- used to keep the file in case a validation fails -->
            </div>
            <div class = 'form-group row'>
                <%= label_tag(:first_name) %>
                <% if !@user.nil? %>
                    <%= f.text_field :first_name , :class => "form-control" , autofocus: true, :value => @user.first_name %>
                <% else %>
                    <%= f.text_field :first_name , :class => "form-control" , autofocus: true %>
                <% end %>
            </div>
            <div class = 'form-group row'>
                <%= label_tag(:last_name) %>
                <% if !@user.nil? %>
                    <%= f.text_field :last_name, :class => "form-control" , autofocus: true, :value => @user.last_name %>
                <% else %>
                    <%= f.text_field :last_name, :class => "form-control" , autofocus: true %>
                <% end %>
            </div>
            <div class = 'form-group row'>
                <%= label_tag(:email, 'Email Address') %>
                <%= f.email_field :email, :class => "form-control", :value => @user.email %>
            </div>
            <!-- <div class = 'form-group row'>
                <%= label_tag(:password, 'Password') %>
                <%= f.password_field :password, :class => "form-control", autocomplete:"off" %>
            </div>
            <div class = 'form-group row'>
                <%= label_tag(:password_confirmation, 'Confirm Password') %>
                <%= f.password_field :password_confirmation, :class => "form-control" %>
            </div> -->
            

            <div class = 'form-group row'>
                
                <%= f.submit "Update Profile",  :class => 'btn btn-success btn-block' %>
            </div>

        <% end %>
    </div>
</div>