<h3>Lost Dogs</h3>
<table id='lost_dogs_table' class='table table-striped table-bordered' cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th><!-- thumbnail image -->
      <th>Name</th>
      <th>Breed</th>
      <th class='invisible'>Weight Range Value</th>
      <th class='no-search'>Weight Range</th>
      <!-- <th>Color Values</th> -->
      <th>Colors</th>
      <th>Date Missing</th>
      <th>Last Location</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @lost_dogs.each do |lost_dog| %>
      <tr>
        <td>
          <% unless lost_dog.pet.image.thumb.url.nil? %>
            <%= image_tag lost_dog.pet.image.thumb.url, class: "rounded-circle" %><!-- Thumb is alraedy 50x50 -->
          <% else %>
            <%= image_tag 'pet_placeholder', class: "rounded-circle", width: 50, height: 50 %>
          <% end %>
        </td>
        <td><%= lost_dog.pet.name %></td>
        <td><%= lost_dog.pet.breed.name %></td>
        <td><%= lost_dog.pet.weight.start_weight.to_i %> <%= lost_dog.pet.weight.end_weight.to_i %></td>
        <td>
          <%= lost_dog.pet.weight.display %>
        </td>
        <!-- <td><%= lost_dog.pet.colors.pluck(:name).join(' ') %></td> -->
        <td><%= lost_dog.pet.colors.map { |c| c.color_badge }.join(' ').html_safe %></td>
        <td><%= lost_dog.created_at %></td>
        <td><%= lost_dog.address %></td>
        <td>Buttons here</td>
      </tr>
    <% end %>
  </tbody>
</table>
</br>
</br>
<h3>Found Dogs</h3>
<table id='found_dogs_table' class='table table-striped table-bordered' cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th><!-- thumbnail image -->
      <th>Breed</th>
      <th class='invisible'>Weight Range Value</th>
      <th class='no-search'>Weight Range</th>
      <th>Colors</th>
      <th>Date Missing</th>
      <th>Last Location</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @found_dogs.each do |found_dog| %>
      <tr>
        <td>
          <%= image_tag 'pet_placeholder', class: "rounded-circle", width: 50, height: 50 %>
        </td>
        <% breed = (found_dog.breed ? found_dog.breed.name : "Don't Know") %>
        <td><%= breed %></td>
        <% if found_dog.weight %>
          <% weight_values = "#{found_dog.weight.start_weight.to_i} #{found_dog.weight.end_weight.to_i}" %>
          <% display_weight = found_dog.weight.display %>
        <% else %>
          <% found_dog.weight.start_weight.to_i %> <%= found_dog.weight.end_weight.to_i %>
          <% display_weight = "Don't Know" %>
        <% end %>
        <td><%= weight_values %></td>
        <td><%= display_weight %></td>
        <% if found_dog.colors.any? %>
          <% colors = found_dog.colors.map { |c| c.color_badge }.join(' ').html_safe %>
        <% else %>
          <% colors = "Don't Know" %>
        <% end %>
        <td><%= colors %></td>
        <td><%= found_dog.created_at %></td>
        <td><%= found_dog.address %></td>
        <td>Buttons here</td>
      </tr>
    <% end %>
  </tbody>
</table>