<div class = 'container'>
    <%= form_for(lost_dog, url: path, remote: true) do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class = 'form-group'>
                    
        Owner: <h1><%= @user.first_name %>  <%= @user.last_name %></h1>

        </div>
        <div class = 'form-group'>
            <%= label_tag(:group_id, 'Select a group:') %>
            <% @group_list = [] %>
            <% @group_list << ['', ''] %>
            <% @user.groups.each do |group| %>
                <% @group_list << [group.name, group.id] %>
            <% end %>     
            <%= select_tag(:group_id, options_for_select(@group_list), class: 'form-control', required: :true, onchange: "get_pets_div(this.value)") %>
        </div>

        <div class = 'form-group'>
            <%= f.label :pet_id, 'Select a pet: ' %>
            <div id = 'pets'>
                <!-- changed here --> 
                <%= render :partial => 'lost_dogs/pets', :object => @pets_set %>
            </div>
        </div>
        
        <% if !lost_dog.pet_id.nil? %>
            <%= javascript_tag do %>
                window.group_id = "<%= j lost_dog.pet.group_id.to_s %>";
                window.pet_id = "<%= j lost_dog.pet_id.to_s %>";
                prefill_dropdowns();
            <% end %>
        <% end %>

        <div class = 'form-group'>
            <%= f.label :description %>
            <%= f.text_area :description, size: '5x5', class: 'form-control' %>
        </div>

        <div class = 'form-group'>
            <%= f.label :address %>
            <%= f.text_field :address, class: 'form-control', required: :true %>
        </div>

        <div class="pac-container pac-logo"></div>

        <%= f.hidden_field :latitude, value: "" %>
        <%= f.hidden_field :longitude, value: "" %>

        <div class = 'form-group  actions'>
            <%= f.submit button_name, class: 'btn btn-success btn-block' %>
        </div>

    <% end %>
</div>