<div id = 'show_lost'>
    Name: <%= @lost_dog.user.first_name %> <%= @lost_dog.user.last_name %><br>
    Description: <%= @lost_dog.description %><br>
    
    <% if @lost_dog.user.id == current_user.id %>
        <%= link_to 'Edit event', edit_lost_dog_path(@lost_dog.id), class: 'btn btn-primary',data: {:remote => true, 'data-toggle' => 'modal', 'data-target'=>'#eventModal'} %>

        <%= link_to 'Delete event', @lost_dog, method: :delete, class: 'btn btn-primary',data: { remote: true, confirm: 'Are you sure? '} %>
    <% end %>

</div>