<div class = 'card'>
    <h4 class = 'card-header'>Lost Dog</h4>
    <ul class = 'list-group list-group-flush'>
        <li class = 'list-group-item'>
            <% unless @lost_dog.user.image.thumb.url.nil? %>
              <%= image_tag @lost_dog.user.image.thumb.url, class: "rounded-circle thumb-image-modal", alt: 'Card image', data: {toggle: 'modal', target: '#image_modal', id: @lost_dog.user.id, controller: 'users'} %>
            <% else %>
              <%= image_tag 'user_placeholder', class: "rounded-circle thumb-image-modal", width: 50, height: 50, alt: 'Card image', data: {toggle: 'modal', target: '#image_modal', id: @lost_dog.user.id, controller: 'users'} %>
            <% end %>
            <%= @lost_dog.user.first_name %> <%= @lost_dog.user.last_name %>
        </li>
        <li class = 'list-group-item'>
          <% unless @lost_dog.pet.image.thumb.url.nil? %>
            <%= image_tag @lost_dog.pet.image.thumb.url, class: "rounded-circle pet-thumb-image-modal", alt: 'Card image', data: {toggle: 'modal', target: '#pet_image_modal', pet_id: @lost_dog.pet.id, view_only: true} %><!-- Thumb is alraedy 50x50 -->
          <% else %>
            <%= image_tag 'pet_placeholder', class: "rounded-circle pet-thumb-image-modal", width: 50, height: 50, alt: 'Card image', data: {toggle: 'modal', target: '#pet_image_modal', pet_id: @lost_dog.pet.id, view_only: true} %>
          <% end %>
          <%= @lost_dog.pet.name %>
        </li>
        <li class = 'list-group-item'>
            <div class = 'card-body'>
                <%= @lost_dog.description %><br>
            </div>
        </li>
        <li class = 'list-group-item'>
            <%= @lost_dog.pet.name %> was lost at: <br>
            <%= @lost_dog.address %>
        </li>
        <li class = 'list-group-item'>
            If you find this dog or have any other information, contact the owner through lost/found dog page
        </li>
    </ul>

    <div class = 'card-footer'>
        <% if @lost_dog.user.id == current_user.id %>
            <div class = 'btn-group' role = 'group' 'aria-label': 'Three Options' >
                <%= link_to 'Edit event', edit_lost_dog_path(@lost_dog.id), class: 'btn btn-primary',type: 'button', data: {:remote => true, 'data-toggle' => 'modal', 'data-target'=>'#eventModal'} %>
                
                <%= link_to 'Delete event', @lost_dog, method: :delete, class: 'btn btn-primary',type: 'button', data: { remote: true, confirm: 'Are you sure? '} %>

                <%= button_tag 'Close Window', 'aria-label': 'Close', class: 'btn btn-primary', type: 'button', onclick: 'close_event_section()' %>

            </div>
        <% else %>
            <div class = 'row'>
                <div class = 'col-md-4 offset-md-3'>
                    <button type="button" class="btn btn-primary" aria-label="Close" onclick = "close_event_section()">
                        Close Window
                    </button>
                </div>
            </div>
        <% end %>
    </div>

</div>