<h1>Map</h1>
<div id="map-canvas"></div>

<%= form_tag("/around_me/create_lost_dog", method: "post", id: "lost_dog_event", remote: true) do %>
  <%= label_tag(:user_id, "User ID") %>
  <%= text_field_tag(:user_id, @user.id, :readonly => true) %><br>
  <%= label_tag(:pet_id, "Pet ID") %>
  <%= text_field_tag(:pet_id, @pets[0].id, :readonly => true) %><br><!-- You have to changee this to dynamically select the pet-->
  <%= label_tag(:latitude, "Latitude") %>
  <%= text_field_tag (:latitude) %><br>
  <%= label_tag(:longitude, "Longitude") %>
  <%= text_field_tag (:longitude) %><br>
  <%= label_tag(:description, "Description") %>
  <%= text_field_tag (:description) %><br>
  <%= submit_tag("Create Event") %>
<% end %>

  <div id="closeButton">
     <button onclick="closeForm()">Close</button> 
  </div>

<script>

  closeForm();

  var map;

  function closeForm()
  {
    $("#lost_dog_event").hide();
    $("#closeButton").hide();
    document.getElementById("lost_dog_event").description.value = " ";
  }

  var mapOption = {
                      center: {lat: 40.7608, lng: -111.8910},
                      zoom: 8
                  }

    function initMap() 
    {
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOption);
      //console.log("The event is : " + gon.around_me_events[1]);
     // console.log("The description length is : " + gon.descriptions.length);
     // console.log("The around_me_events length is : " + gon.around_me_events.length);

     //for()
     //{

     //}
      var infoWindow = null;

      for(var i = 0; i < gon.around_me_events.length; i++)
      {
        var latitude = gon.around_me_events[i].latitude;
        var longitude = gon.around_me_events[i].longitude;

        var co_ordinates = {lat: parseFloat(latitude),
                    lng: parseFloat(longitude)};

        var marker = new google.maps.Marker({
          position: co_ordinates,
          map: map,
        });

        // debugger;
        var marker_description = gon.descriptions[i];
        infoWindow = new google.maps.InfoWindow();

        console.log("Description is: " + gon.descriptions[i]);

        google.maps.event.addListener(marker, 'click', (function(marker, marker_description, infoWindow){
          return function()
          {
            // infoWindow.setContent(this.html);
            infoWindow.setContent(marker_description);
            infoWindow.open(map, marker);
          };
        })(marker, marker_description, infoWindow));

        /*google.maps.event.addListener(marker, 'click',(function(marker,marker_description, infoWindow){
          return function(){
            infoWindow.setContent(marker_description)
            infoWindow.open(map, marker);
          };
        })(marker, marker_description, infoWindow));*/

      }
      activateClick();
    }

    function activateClick()
    {
       google.maps.event.addListener(map, 'click', function(event){

        // Take the description from the user

        var latitude = event.latLng.lat();
        var longitude = event.latLng.lng();
        $("#lost_dog_event").show();
        $("#closeButton").show();

        document.getElementById("lost_dog_event").latitude.value = latitude;
        document.getElementById("lost_dog_event").longitude.value = longitude;
      });
    }
      
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGAMfpUVwJJYpahbklrZ0Q_RPU0NgpuP4&callback=initMap" async defer></script>