<div class = 'container'>
    <%= form_for(post_event, url: path, remote: true) do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class = 'form-group'>
                    
        Owner: <h1><%= @user.first_name %>  <%= @user.last_name %></h1>

        </div>

        <div class = 'form-group'>
            <%= f.label :description %>
            <!-- Right now, this is latitude, longitude. Ideally, it should be 
                    an address -->
            <%= f.text_area :description, size: '5x5', class: 'form-control' %>
        </div>

        <div class = 'form-group'>
            <%= f.label :address %>
            <%= f.text_area :address, size: '1x1', class: 'form-control' %>
        </div>

        <%= f.hidden_field :latitude, value: "" %>
        <%= f.hidden_field :longitude, value: "" %>        

        <% @private = "unchecked" %>
        <% @public = "checked" %>

        
        <% if !post_event.private.nil? %>
            <% if post_event.private %>
                <% @private = "checked" %>
                <% @public = "unchecked" %>
            <% end %>
        <% end %>


        <!-- public/private event -->
        <!-- date/time the event would take place -->
        <div class = 'form-group'>
            <%= f.label :form_label, "Is the event public or private? " %>
            <%= f.radio_button :private, 1, checked: @private %> <!-- 1 is true and it is private -->
            <%= f.label :private_label, "Private" %>
            <%= f.radio_button :private, 0, checked: @public %> <!-- 0 is false and it is public -->
            <%= f.label :public_label, "Public" %>
        </div>

        <div class = 'form-group'>
            <%= f.label :date_time, "Is the event public or private? " %>
            <%= f.datetime_select :date_time, start_year: 2016, end_year: 2040 %>
        </div>

        <div class = 'form-group  actions'>
            <%= f.submit button_name, class: 'btn btn-success btn-block' %>
        </div>

    <% end %>
</div>