<div class = 'container'>
    <%= form_for(post_event, url: path, remote: true) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class = 'form-group'>
                    
        Owner: <h1><%= current_user.first_name %>  <%= current_user.last_name %></h1>

        </div>

        <div class = 'form-group'>
            <%= f.label :description %>
            <%= f.text_area :description, size: '5x5', class: 'form-control' %>
        </div>

        <div class = 'form-group'>
            <%= f.label :address %>
            <%= f.text_field :address, size: '1x1', class: 'form-control', required: :true %>
        </div>

        <%= f.hidden_field :latitude, value: post_event.latitude %>
        <%= f.hidden_field :longitude, value: post_event.longitude %>

        <% @private = "unchecked" %>
        <% @public = "checked" %>

        
        <% if !post_event.private.nil? %>
            <% if post_event.private %>
                <% @private = "checked" %>
                <% @public = "unchecked" %>
            <% end %>
        <% end %>


        <!-- public/private event -->
        <!-- date/time the event would take place -->
        <div class = 'form-group'>
            <%= f.label :form_label, "Is the event public or private? " %>
            <%= f.radio_button :private, 1, checked: @private %> <!-- 1 is true and it is private -->
            <%= f.label :private_label, "Private" %>
            <%= f.radio_button :private, 0, checked: @public %> <!-- 0 is false and it is public -->
            <%= f.label :public_label, "Public" %>
        </div>

        <div class = 'form-group'>
            <%= f.label :date_time, "When is your event? " %>
            <div class="input-group date" id="post_event_datetimepicker">
              <%= f.text_field :date_time, class: 'form-control', :placeholder=>"mm/dd/yyyy hh:mm AM/PM", readonly: true, :value=>(post_event.date_time) ? post_event.date_time.strftime("%m/%d/%Y %l:%M %p") : '' %>
              <span class="input-group-addon">
                  <span class="fa fa-calendar"></span>
              </span>
            </div>
        </div>

        <div class = 'form-group  actions'>
            <%= f.submit button_name, class: 'btn btn-success btn-block', style: 'margin-top: 10px;' %>
        </div>

    <% end %>
    
    <% unless post_event.new_record? %>
      <div class="card" id="pending_event_invites_card" <%=  @invites.any? ? "" : "style='display: none'".html_safe %>>
        <div class="card-header">
          <strong>Pending user invitations</strong>
        </div>
        <div class="card-block" id="pending_event_invites">
          <% @invites.each do |invite| %>
            <%= render 'event_invites/pending_invite', invite: invite %>
          <% end %>
        </div>
      </div>
      <div id='event_invite_form'>
        <%= render 'event_invites/invite_form', event: post_event, invite: EventInvite.new %>
      </div>
      <button class="btn btn-outline-primary btn-sm event-invite-btn float-right" id="event_invite_btn" data-event-id="<%=post_event.id%>" style="margin: 10px 0px;">Invite Person</button>
      
    <% end %>
</div>