<div id = 'show_post'>
    Name:  <%= @post_event.user.first_name %> <%= @post_event.user.last_name %><br>
    Description: <%= @post_event.description %><br>

    <% if @post_event.user.id == current_user.id %>
        <%= link_to 'Edit event', edit_post_event_path(@post_event.id), class: 'btn btn-primary',data: {:remote => true, 'data-toggle' => 'modal', 'data-target'=>'#eventModal'} %>

        <%= link_to 'Delete event', @post_event, method: :delete, class: 'btn btn-primary',data: {remote: true, confirm: 'Are you sure? '} %>
    <% end %>

</div>