<!--<div id = 'show_post'>
</div>-->

<div class = 'card'>
    <h4 class = 'card-header'>AroundMe Event</h4>
    <ul class = 'list-group list-group-flush'>
        <li class = 'list-group-item'>
            <% unless @post_event.user.image.thumb.url.nil? %>
              <%= image_tag @post_event.user.image.thumb.url, class: "rounded-circle thumb-image-modal", alt: 'Card image', data: {toggle: 'modal', target: '#image_modal', id: @post_event.user.id, controller: 'users'} %>
            <% else %>
              <%= image_tag 'user_placeholder', class: "rounded-circle thumb-image-modal", width: 50, height: 50, alt: 'Card image', data: {toggle: 'modal', target: '#image_modal', id: @post_event.user.id, controller: 'users'} %>
            <% end %>
            <%= @post_event.user.first_name %> <%= @post_event.user.last_name %>
        </li>
        <!-- Above the description, there needs to be something related to the pets images, around me events, etc  -->

        <li class = 'list-group-item'>
            <div class = 'card-body'>
                <%= @post_event.description %><br>
            </div>
        </li>
        <li class = 'list-group-item'>
            The event is at: <br>
            <%= @post_event.address %>
        </li>
        <li class = 'list-group-item'>
            <strong>Date:</strong>
            <%= @post_event.date_time.month %>/<%= @post_event.date_time.day %>/<%= @post_event.date_time.year %>
        </li>
        <li class = 'list-group-item'>
            <strong>Time:</strong>
            <%= @post_event.date_time.hour %>:<%= @post_event.date_time.min %>
        </li>
        <li class = 'list-group-item'>
            <% if @post_event.private %>
                <p>The event is <strong>private</strong>. Take part in the conversation</p>
            <% else %>
                <p> The event is <strong>public</strong>. Take part in the conversation</p>
            <% end %>
        </li>
        <li class = 'list-group-item'>
            <%= render 'post_events/post_event_chat' %>
        </li>
        <!-- If the person has posted the event, they can invite other people and see who has accepted the event -->
        <div class="card">
          <div class="card-header">
            <strong>Joined Users</strong>
          </div>
          <div class="card-block" id="event_joined_users">
            <% @post_event.joined_users.each do |user| %>
              <%= render partial: 'events/joined_user_row', locals: { user: user } %>
            <% end %>
          </div>
        </div>
        <% if @pending_invites.any? %>
          <div class="card">
            <div class="card-header">
              <strong>Pending Invitations</strong>
            </div>
            <div class="card-block" id="pending_event_invites">
              <% @pending_invites.each do |invite| %>
                <div class="row" style="margin: 5px 0px;">
                  <div class="col-md-4">
                    <%= invite.invitee.first_name %>
                  </div>
                  <div class="col-md-4">
                    <%= invite.invitee.last_name %>
                  </div>
                  <div class="col-md-4">
                    <%= invite.invitee.email %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% unless @post_event.user == current_user %>
          <% if @post_event.joined_users.include? current_user %>
            <!-- Leave event buttton -->
            <%= button_tag 'Leave Event', class: "btn btn-outline-danger btn-sm disjoin-event-btn", type: 'button', id: 'leave_event_btn', data: { event_id: @post_event.id, confirm: 'Are you sure that you want to leave this event?' } %>
            <%= button_tag 'Join Event', class: "btn btn-outline-success btn-sm join-event-btn", style: 'display: none;', type: 'button', id: 'join_event_btn', data: { event_id: @post_event.id } %>
          <% else %>
            <!-- Join event button -->
            <%= button_tag 'Join Event', class: "btn btn-outline-success btn-sm join-event-btn", type: 'button', id: 'join_event_btn', data: { event_id: @post_event.id } %>
            <%= button_tag 'Leave Event', class: "btn btn-outline-danger btn-sm disjoin-event-btn", style: 'display: none;', type: 'button', id: 'leave_event_btn', data: { event_id: @post_event.id, confirm: 'Are you sure that you want to leave this event?' } %>
          <% end %>
        <% end %>
        <!-- 
            Ability to invite people to the event. Only the owner should have the ability to do this.
            People who have access to the event, should be able to see the people in the event and a conversation box should also be there
        -->
    </ul>

    <div class = 'card-footer'>
        <% if @post_event.user.id == current_user.id %>
            <div class = 'btn-group' role = 'group' 'aria-label': 'Three Options' >
                <%= link_to 'Edit event', edit_post_event_path(@post_event.id), class: 'btn btn-primary',type: 'button', data: {:remote => true, 'data-toggle' => 'modal', 'data-target'=>'#eventModal'} %>
                
                <%= link_to 'Delete event', @post_event, method: :delete, class: 'btn btn-primary',type: 'button', data: { remote: true, confirm: 'Are you sure? '} %>

                <%= button_tag 'Close Window', 'aria-label': 'Close', class: 'btn btn-primary', type: 'button', onclick: 'close_event_section()' %>

            </div>
        <% else %>
            <div class = 'row'>
                <div class = 'col-md-4 offset-md-3'>
                    <button type="button" class="btn btn-primary" aria-label="Close" onclick = "close_event_section()">
                        Close Window
                    </button>
                </div>
            </div>
        <% end %>
    </div>
</div>