<!DOCTYPE html>
<html>
  <head>
    <title>Woof</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', :recursive => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "icon.png" %>
    <%= favicon_link_tag "icon.png", :rel => 'icon', :type => 'image/png' %>
    <%= include_gon %>
  </head>

  <% if @homepage %>
    <% @body_id = 'home-page' %>
  <% elsif @signin %>
    <% @body_id = 'sign-in' %>
    <% else %>
    <% @body_id = '' %>
  <% end %>

  <body id = <%= @body_id %> >
    <% if user_signed_in? %>
    

        <%= render 'users/user_navbar' %>
        <%= render partial: "shared/flash_messages", flash: flash %>

      <div class = 'd-flex'>
        <%= render 'users/user_sidemenu3' %>
        <div id = 'main-content'>
          <!-- The below button is the toggle button for the sidebar. Have to decide 
                the correct location -->
          <div class = 'toggle-button'>  
            <button type = 'button' id = 'sidebarCollapse' class = 'btn btn-primary'>
                <span class = 'navbar-toggler-icon'></span>
            </button>
          </div>
          <%= yield %>
        </div>
      </div>

      <%= render 'home/footer' %>
    
      
    <% else %>
      <%= render 'home/navbar2' %>
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
      <%= render 'home/footer' %>
    <% end %>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGAMfpUVwJJYpahbklrZ0Q_RPU0NgpuP4&callback=initMap">
    </script> 

  </body>
</html>
