<!DOCTYPE html>
<html>
  <head>
    <title>Woof</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', :recursive => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "icon.png" %>
    <%= favicon_link_tag "icon.png", :rel => 'icon', :type => 'image/png' %>
  </head>

  <% if @homepage %>
    <% @body_id = 'home-page' %>
  <% elsif @signin %>
    <% @body_id = 'sign-in' %>
  <% elsif @user_profile %>
    <% @body_id = 'user-profile' %>
  <% else %>
    <% @body_id = '' %>
  <% end %>


  <div id = 'outer-container'>
    <% if user_signed_in? %>
      <div id = 'header-page'>
        <%= render 'users/user_navbar' %>
        <div id = 'flash_messages_div'>
          <%= render partial: "shared/flash_messages", flash: flash %>    
        </div>
      </div>

      <div id = 'body-page'>
        <body id = <%= @body_id %> >
          <div class = 'd-flex'>
            <%= render 'users/user_sidemenu3' %>
            <div id = 'main-content'>
              <!-- The below button is the toggle button for the sidebar. Have to decide 
                    the correct location -->
              <div class = 'toggle-button'>
                <!-- Could use the icon arrow-left and change the icon with jquery -->
                <%= button_tag type: 'button', id: 'sidebarCollapse', class: 'btn', style: 'background-color: transparent;' do %>
                  <%= fa_icon 'bars 2x', id: 'sidemenu_show_icon' , style: "display: none;" %>
                  <%= fa_icon 'arrow-left 2x', id: 'sidemenu_collapse_icon' %>
                <% end %>
              </div>
              <%= yield %>
            </div>
          </div>
        </body>
      </div>

      <%= render 'home/footer' %>
    
    <% else %>
      <div id = 'header-page'>
        <%= render 'home/navbar2' %>
        <div id='flash_messages_div'>
          <%= render partial: "shared/flash_messages", flash: flash %>
        </div>
      </div>

      <div id = 'body-page'>
        <body id = <%= @body_id %> >
          <%= yield %>
        </body>
      </div>

      <%= render 'home/footer' %>

    <% end %>
  </div>


</html>
