<!DOCTYPE html>
<html>
  <head>
    <title>Woof</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "woof_faceOnly.png" %>
    <%= favicon_link_tag "woof_letter.png", :rel => 'woof_letter', :type => 'image/png' %>
    <%= include_gon %>
  </head>

  <body>
      <% if user_signed_in? %>
        <%= render 'users/user_navbar' %>
        <% else %>
        <%= render 'home/navbar2' %>
      <% end %>
      <%= yield %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
  </body>
</html>
